<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/styles.css">
</head>

<body>
    <section class="userInfo-container">
        <div class="info-card">
            <a href="/logout" class="logout">LogOut</a>
            <div class="Image">
              <div class="img-div"><span>No<br>Profile Photo</span></div>
            </div>

            <div class="text">
                <p class="user-name">username</p>
                <p class="user-email">email</p>
                <p class="user-password">password</p>
            </div>
        </div>
    </section>
</body>

</html>